html {
	height: 100%;
}
body {
	background: rgba(0, 0, 0, 0.03);
	height: 100%;
}



.l-main {}
.b-main {
}


.b-list_rasps {
	margin: 20px 0;
	position: relative;
	border-radius: 5px;
}
.b-list_rasps::before {
	z-index: 1;
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	border-radius: 5px;
	height: 100%;
	background: #e1e1e1;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.06);
}
.b-list_rasps .b-rasp {
	margin-bottom: 5px;
	padding: 0 5px 0 10px;
	position: relative;
	min-height: 50px;
	background: #fff;
	transition: all 0.2s linear;
	cursor: pointer;
}
.b-list_rasps .b-rasp.m-passed {
}
.b-list_rasps .b-rasp.m-passed:hover {
}
.b-list_rasps .b-rasp-progress {
	display: block;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	border-radius: 5px;
	height: 0%;
}
.b-list_rasps .b-rasp-time {
	position: absolute;
	left: -40px;
	width: 30px;
	text-align: right;
	font-size: 8px;
	line-height: 1;
}
.b-list_rasps .b-rasp-time_begin {
	top: 0;
}
.b-list_rasps .b-rasp-time_end {
	bottom: 0;
	opacity: 0.7;
}



.b-list_subjectLessons {
	margin: 20px 0;
	font-size: 0;
}
.b-list_subjectLessons > * {
	font-size: 14px;
}
.b-list_subjectLessons .b-lesson {
	margin: 10px 0;
	display: inline-block;
	vertical-align: top;
	width: 11.11%;
	font-size: 12px;
}
.b-list_subjectLessons .b-lesson-week {
	background-color: #e1e1e1;
	color: #fff;
	text-align: center;
}
.b-list_subjectLessons .b-lesson.m-passed .b-lesson-week {
	background-color: rgb(130, 187, 66);
}
.b-list_subjectLessons .b-lesson.m-current .b-lesson-week {
	
	background-color: #faa732;
}
.b-list_subjectLessons .b-lesson-content {
	padding: 0 3px;
}
.b-list_subjectLessons .b-lesson-event {}
.b-list_subjectLessons .b-lesson-event_good {
	color: rgb(130, 187, 66);
	text-decoration: line-through;
}
.b-list_subjectLessons .b-lesson-event_bad {
	color: #da314b;
}











